html,button,input,select,textarea{color:#222}
body{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media only screen and (min-width: 35em){}@media print,(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi){}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}/* normalize.css v1.1.2 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],/* 1 */,input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
body{background:#d3d3d3;margin:0;font-family:'Open Sans',sans-serif}
.logo{background:url("/img/img_logo.png");width:111px;height:39px;left:50%;margin-left:-55px;top:10px;position:absolute;z-index:5}
.surveyContainer{position:relative;width:100%;max-width:600px;height:100%;margin:0 auto}
.surveyContainer.default{background-image:url("/img/bounty.png");background-size:cover}
.canvas{height:100%;width:100%;position:absolute;background-repeat:none;background-size:cover;background-position:0 100%;overflow:hidden}
.intro,.question-text{color:#fff;position:absolute;width:100%;padding:15px;box-sizing:border-box}
.intro{top:10%;text-align:center;font-size:20px}
.question-text{color:#fff;position:absolute;width:100%;top:35%;text-align:center;font-weight:700;font-size:25px;line-height:40px}
.text-secondary{font-size:19px;font-weight:400}
.chooser{position:absolute;bottom:15%;left:50%;max-width:30%;z-index:4}
.chooser img{max-width:100%}
.choice-dock{position:absolute;top:70%;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;opacity:0;z-index:3}
.choice-dock{max-width:30%;}
.choice-dock img{max-width:100%}
.choice-dock .text-choice{padding:10px;background:#fff}
.choice-dock.ui-droppable-active{-ms-transform:scale(.7,.7);-webkit-transform:scale(.7,.7);transform:scale(.7,.7);opacity:.7}
.choice-dock.drop-hover{-ms-transform:scale(1.3,1.3);-webkit-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}
.choice-left{left:0}
.choice-right{right:0}
.choice-bottom{top:initial;bottom:0;left:50%}
.choice-arrow{position:absolute;height:31px;width:17px;margin-top:-15px;top:70%;background:url("/img/arrows.png");z-index:2}
.choice-arrow-left{left:10px;background-position:-17px 0}
.choice-arrow-right{right:10px}
.choice-arrow-bottom{height:31px;width:31px;bottom:0;left:50%;margin-top:0;margin-left:-15px;top:initial;background-position:-34px 0}
#choice-carousel{position:absolute;width:100%;z-index:2;bottom:20px}
#choice-carousel .carousel-item{text-align:center}
#choice-carousel .carousel-item img{display:inline-block;-ms-transform:scale(.7,.7);-webkit-transform:scale(.7,.7);transform:scale(.7,.7);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;opacity:.7}
#choice-carousel .carousel-item.slick-center img{-ms-transform:scale(1,1);-webkit-transform:scale(1,1);transform:scale(1,1);opacity:1}
.first-screen-intro{top:15%;padding:15px;box-sizing:border-box;text-align:left;font-weight:700;font-size:17px;text-shadow:1px 1px 3px rgba(0,0,0,0.54)}
.btn.btn-do{color:#fff;font-weight:700;text-decoration:initial;text-transform:uppercase;position:absolute;padding:20px;bottom:10%;border-radius:3px;background:#22d13f;box-shadow:1px 1px 4px rgba(0,0,0,0.3);width:200px;text-align:center;left:50%;margin-left:-100px;box-sizing:border-box}
.data-intro{top:15%;padding:15px;box-sizing:border-box;font-weight:700;font-size:20px;text-align:left}
.form{position:absolute;width:100%;top:40%;padding:0 15px;box-sizing:border-box}
.thank-intro{top:25%;padding:15px;box-sizing:border-box;font-weight:700;font-size:20px;text-align:left}
