body {
    background: #d3d3d3;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

.logo {
    background: url('/img/img_logo.png');
    width: 111px;
    height: 39px;
    left: 50%;
    margin-left: -55px;
    top: 10px;
    position: absolute;
    z-index: 5;
}

.surveyContainer {
    position: relative;

    width: 100%;
    max-width: 600px;
    height: 100%;

    margin: 0 auto;
}

.surveyContainer.default {
    background-image: url("/img/bounty.png");
    background-size: cover;
}

.canvas {
    height: 100%;
    width: 100%;
    position: absolute;

    background-repeat: none;
    background-size: cover;
    background-position: 0 100%;

    overflow: hidden;
}

.intro,
.question-text {
    color: white;
    position: absolute;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.intro {
    top: 10%;
    text-align: center;

    font-size: 20px;
}

.question-text {
    color: white;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
}

.text-secondary {
    font-size: 19px;
    font-weight: 400;
}

.chooser {
    position: absolute;
    bottom: 15%;
    left: 50%;

    max-width: 30%;
    z-index: 4;
}

.chooser img {
    max-width: 100%;
}

.choice-dock {
    position: absolute;
    top: 70%;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;

    opacity: 0;

    z-index: 3;
}

.choice-dock {
    max-width: 30%;
    /* padding: 40px; */
}

.choice-dock img {
    max-width: 100%;
}

.choice-dock .text-choice {
    padding: 10px;
    background: white;
}

.choice-dock.ui-droppable-active {
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);

    opacity: 0.7;
}

.choice-dock.drop-hover {
    -ms-transform: scale(1.3, 1.3); /* IE 9 */
    -webkit-transform: scale(1.3, 1.3); /* Safari */
    transform: scale(1.3, 1.3);
}

.choice-left { left: 0px; }
.choice-right { right: 0px; }
.choice-bottom { top: initial; bottom: 0px; left: 50%; }

.choice-arrow {
    position: absolute;
    height: 31px;
    width: 17px;
    margin-top: -15px;

    top: 70%;
    background: url('/img/arrows.png');
    z-index: 2;
}

.choice-arrow-left { left: 10px; background-position: -17px 0px; }
.choice-arrow-right { right: 10px; }
.choice-arrow-bottom {
    height: 31px;
    width: 31px;
    bottom: 0px;
    left: 50%;
    margin-top: 0;
    margin-left: -15px;
    top: initial;
    background-position: -34px 0px;
}


#choice-carousel {
    position: absolute;
    width: 100%;
    /* top: 70%; */
    z-index: 2;
    bottom: 20px;
}

#choice-carousel .carousel-item {
    text-align: center;
}

#choice-carousel .carousel-item img {
    display: inline-block;

    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;


    opacity: 0.7;
}

#choice-carousel .carousel-item.slick-center img {
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);

    opacity: 1;
}


/* first screen */

.first-screen-intro {
    top: 15%;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    font-weight: 700;
    font-size: 17px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

.btn.btn-do {
    color: white;
    font-weight: 700;
    text-decoration: initial;
    text-transform: uppercase;
    position: absolute;
    padding: 20px;
    bottom: 10%;
    border-radius: 3px;
    background: #22D13F;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    width: 200px;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    box-sizing: border-box;
}


/* data */
.data-intro {
    top: 15%;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}

.form {
    position: absolute;
    width: 100%;
    top: 40%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* thank you */
.thank-intro {
    top: 25%;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}