<html>
<head>
  <title><%= title %></title>
  <meta content="Node Website Template" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="/img/favicon.ico" rel="shortcut icon">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

  <body>
    <div class="logo"></div>
    <div class="container default surveyContainer">
      <div class="thank-intro intro">
	<p>
	  Hartelijk dank voor je deelname
	</p>
	<p>
	  Je ontvangt een emailbericht, klik op de link in het bericht om je deelname te bevestigen.
	</p>
	
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
