<html>
<head>
  <title><%= title %></title>
  <meta content="Node Website Template" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="/img/favicon.ico" rel="shortcut icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
  
  <style>
      #birth-date-wrapper {
      text-align: center;
      position: relative;
      top: -50px;
      }
      #birth-date {
      background: white;
      width: 250px;
      border-radius: 4px;
      padding: 10px 0;
      }
  </style>
  
  <link href="/css/app.css" rel="stylesheet">
</head>

  <body>
    <div class="logo"></div>
    <div class="wrapper default surveyContainer">
      <div class="data-intro intro">
	Wat is jouw geboortedatum?
      </div>
      <div class="form">
	<div class="row">
	  <div class="col-xs-12">
	    <div id="birth-date-wrapper">
	      <center>
		<div id="birth-date"></div>
	      </center>
	    </div>
	    <!--
	    <div class="form-group">
	      <input type="text" class="form-control" id="firstname" placeholder="Voornaam">
	    </div>
	    -->
	  </div>
	</div>
      </div>
      <a class="btn btn-do" href="/swipe">Ga verder</a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.nl.min.js"></script>
    <script>
      $('#birth-date').datepicker({
      startView: 2,
      language: "nl",
      todayHighlight: true
      });
    </script>
    
    <script src="/js/bundle.js"></script>
  </body>
</html>
