<html>
<head>
  <title><%= title %></title>
  <meta content="Node Website Template" name="description">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">

  <link href="/img/favicon.ico" rel="shortcut icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

  <body>
    <div class="logo"></div>
    <div class="wrapper default surveyContainer">
      <div class="data-intro intro">
	Om kans te maken vragen wij je jouw naam en email adres in te vullen:
      </div>
      <div class="form">
	<div class="row">
	  <div class="col-xs-12">
	    <div class="form-group">
	      <input type="text" class="form-control" id="firstname" placeholder="Voornaam">
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-4">
	    <div class="form-group">
	      <input type="text" class="form-control" id="infix" placeholder="Tussenvoegsel">
	    </div>
	  </div>
	  <div class="col-xs-8">
	    <div class="form-group">
	      <input type="text" class="form-control" id="lastname" placeholder="Achternaam">
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12">
	    <div class="form-group">
	      <input type="email" class="form-control" id="email" placeholder="E-mailadres">
	    </div>
	  </div>
	</div>
      </div>
      <a class="btn btn-do" href="/data2">Ga verder</a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
